<form action="/flights/<%= flight._id %>/tickets" method="POST">
    <label>Seat # :</label>
    <input name="seat" required pattern="[A-F][1-9]\d?" value="">
    <label>Price$:</label>
    <input type="number" min="0" name="price">
    <input type="submit" value="Add Tricket">
</form>