<!DOCTYPE html>
<html>
  <head>
    <title>Here'all the flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Here's all the flights</h1>
  </body>
</html>
