<section>

    <div>Airline</div>
    <div><%= flights.airline %></div>
    <div>Flight Number</div>
    <div><%= flights.flightNo %></div>
    <div>Departure Date</div>
    <div><%= flights.departs %> </div>
    <div>Departing Airport</div>
    <div><%= flights.depAirport %></div>
    
</section>
